@import "../../config/breakpoints.scss";
@import "../../config/colors.scss";

.Quote2 {
  background: $light;
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: $desktop-sm) {
    height: 100%;
  }

  p {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 230px;
    @media only screen and (min-width: $moble-lg) {
      font-size: 24px;
      width: 245px;
      top: 35px;
      left: 35px;
    }

    @media only screen and (min-width: $desktop-sm) {
      font-size: 36px;
      width: 430px;
      top: 50px;
      left: 50px;
    }

    @media only screen and (min-width: $desktop-lg) {
      font-size: 48px;
      width: 500px;
    }
  }

  img {
    width: 215px;
    position: absolute;
    bottom: -25px;
    right: -40px;

    @media only screen and (min-width: $desktop-sm) {
      width: 300px;
      bottom: 0;
      right: 0;
    }

    @media only screen and (min-width: $desktop-lg) {
      width: 450px;
    }
  }
}
