@import "../../config/breakpoints.scss";
@import "../../config/colors.scss";

.About {
  background: $appWhite;
  padding: 20px;

  @media only screen and (min-width: $desktop-sm) {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-row: 40% 40% 20%;
    padding: 0;

    .about_1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
      margin: 50px 50px 0 50px;
      height: 91px;
    }

    .about_2 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      margin: 0 0 0 50px;
    }

    .about_3 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      padding: 0 50px 0 0;
    }

    .about_4 {
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
      width: 80%;
      height: 100px;
      padding: 0 50px 0px 50px;
      margin: 0;
    }
  }

  @media only screen and (min-width: $desktop-sm) {
    .about_1 {
      margin: 90px 90px 0 90px;
    }

    .about_2 {
      margin: 0 0 0 90px;
    }

    .about_3 {
      padding: 0 90px 0 0;
    }

    .about_4 {
      padding: 0 90px 0px 90px;
    }
  }

  .headerBox {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $desktop-sm) {
      width: 85%;
      align-items: flex-end;
    }

    h1 {
      text-transform: uppercase;
      padding: 15px;
      width: 70%;
      color: $primary;
      font-size: 24px;
      letter-spacing: 5px;
      border: 6px solid $primary;

      @media only screen and (min-width: $desktop-sm) {
        padding: 10px;
        width: 100%;
        font-size: 32px;
      }
    }
  }

  .headshot {
    background: $light;
    height: 196px;
    width: 196px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 30px;
    overflow: hidden;

    @media only screen and (min-width: $desktop-sm) {
      width: 200px;
      height: 200px;
      margin: auto 10% auto auto;
    }

    @media only screen and (min-width: $desktop-lg) {
      width: 250px;
      height: 250px;
      margin: auto 10% auto auto;
    }

    img {
      width: 196px;

      @media only screen and (min-width: $desktop-sm) {
        width: 200px;
      }

      @media only screen and (min-width: $desktop-lg) {
        width: 250px;
      }
    }
  }

  p {
    line-height: 1.5em;
    letter-spacing: 1.5px;
    width: 70%;
    margin: auto;
    text-align: left;
    padding-top: 20px;

    @media only screen and (min-width: $desktop-sm) {
      width: 80%;
    }

    @media only screen and (min-width: $desktop-sm) {
      width: 90%;
      font-size: 20px;
    }
  }

  span {
    color: $primary;
    font-weight: 600;
  }
}
