@import "../../config/breakpoints.scss";
@import "../../config/colors.scss";

.Quote1 {
  background: $light;
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;

  @media only screen and (min-width: $desktop-sm) {
    height: 100%;
  }

  p {
    color: $appWhite;
    margin: 0;
    position: absolute;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    width: 175px;
    top: 20px;
    right: 20px;

    @media only screen and (min-width: $moble-lg) {
      font-size: 24px;
      width: 200px;
      top: 35px;
      right: 35px;
    }

    @media only screen and (min-width: $desktop-sm) {
      font-size: 36px;
      width: 300px;
      top: 50px;
      right: 50px;
    }

    @media only screen and (min-width: $desktop-lg) {
      font-size: 48px;
      width: 500px;
    }
  }

  img {
    width: 195px;
    position: absolute;
    bottom: -33px;
    left: -25px;

    @media only screen and (min-width: $desktop-sm) {
      width: 250px;
      bottom: 0;
      left: 0;
    }

    @media only screen and (min-width: $desktop-lg) {
      width: 350px;
    }
  }
}
